name: biasbreaker

services:
  backend-local:
    container_name: biasbreaker-local
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - biasbreaker-net
    restart: "no"

  backend-hub:
    container_name: biasbreaker-hub
    image: dhruv2k3/biasbreaker-backend:latest
    pull_policy: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - biasbreaker-net
    restart: always

networks:
  biasbreaker-net:
    driver: bridge